.Footer {
	margin-top: 24px;
	text-align: center;
}

.Buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between	;
}

.Count {
	padding-left: 16px;
	flex: 1;
	text-align: left;
	margin-right: 4px;
}

.Done {
	background: #50B354;
	height: 49px;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 48px;
	padding: 0 12px;
	color: #fff;
	margin: 24px;
	border-radius: 24px


}
