.Table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 320px;
	height: 320px;
	margin: 24px auto;
	user-select: none;
}

.Cell {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 25%;
	border: 1px solid #ccc;
	cursor: pointer;
}
.Cell:hover {
	background-color: #eee;
}

.Cell:empty {
	border: none;
	background-color: #ccc;
}
